USE [master]
GO
/****** Object:  Database [PoliziaMunicipale]    Script Date: 2025-11-21 5:47:40 PM ******/
CREATE DATABASE [PoliziaMunicipale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PoliziaMunicipale', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PoliziaMunicipale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PoliziaMunicipale_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PoliziaMunicipale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PoliziaMunicipale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PoliziaMunicipale]
GO
/****** Object:  Table [dbo].[Anagrafica]    Script Date: 2025-11-21 5:47:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anagrafica](
	[IdAnagrafica] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [nvarchar](50) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Indirizzo] [nvarchar](100) NOT NULL,
	[Citta] [nvarchar](50) NOT NULL,
	[CAP] [char](5) NOT NULL,
	[Cod_Fisc] [char](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAnagrafica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoViolazione]    Script Date: 2025-11-21 5:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoViolazione](
	[IdViolazione] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdViolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verbale]    Script Date: 2025-11-21 5:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verbale](
	[IdVerbale] [int] IDENTITY(1,1) NOT NULL,
	[DataViolazione] [date] NOT NULL,
	[IndirizzoViolazione] [nvarchar](100) NOT NULL,
	[Nominativo_Agente] [nvarchar](100) NOT NULL,
	[DataTrascrizioneVerbale] [date] NOT NULL,
	[Importo] [decimal](10, 2) NOT NULL,
	[DecurtamentoPunti] [int] NOT NULL,
	[IdAnagrafica] [int] NOT NULL,
	[IdViolazione] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVerbale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Anagrafica] ON 

INSERT [dbo].[Anagrafica] ([IdAnagrafica], [Cognome], [Nome], [Indirizzo], [Citta], [CAP], [Cod_Fisc]) VALUES (1, N'Rossi', N'Mario', N'Via Roma 10', N'Palermo', N'90100', N'RSSMRA80A01F205X')
INSERT [dbo].[Anagrafica] ([IdAnagrafica], [Cognome], [Nome], [Indirizzo], [Citta], [CAP], [Cod_Fisc]) VALUES (2, N'Bianchi', N'Luca', N'Via Milano 33', N'Catania', N'95100', N'BNCLCU85B22C351H')
INSERT [dbo].[Anagrafica] ([IdAnagrafica], [Cognome], [Nome], [Indirizzo], [Citta], [CAP], [Cod_Fisc]) VALUES (3, N'Verdi', N'Anna', N'Via Libertà 90', N'Palermo', N'90100', N'VRDANN90C15F205Y')
SET IDENTITY_INSERT [dbo].[Anagrafica] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoViolazione] ON 

INSERT [dbo].[TipoViolazione] ([IdViolazione], [Descrizione]) VALUES (1, N'Eccesso di velocità')
INSERT [dbo].[TipoViolazione] ([IdViolazione], [Descrizione]) VALUES (2, N'Sosta vietata')
INSERT [dbo].[TipoViolazione] ([IdViolazione], [Descrizione]) VALUES (3, N'Mancato utilizzo cinture')
SET IDENTITY_INSERT [dbo].[TipoViolazione] OFF
GO
SET IDENTITY_INSERT [dbo].[Verbale] ON 

INSERT [dbo].[Verbale] ([IdVerbale], [DataViolazione], [IndirizzoViolazione], [Nominativo_Agente], [DataTrascrizioneVerbale], [Importo], [DecurtamentoPunti], [IdAnagrafica], [IdViolazione]) VALUES (1, CAST(N'2009-03-15' AS Date), N'Via Roma 11', N'Agente P. Costa', CAST(N'2009-03-16' AS Date), CAST(150.00 AS Decimal(10, 2)), 2, 1, 1)
INSERT [dbo].[Verbale] ([IdVerbale], [DataViolazione], [IndirizzoViolazione], [Nominativo_Agente], [DataTrascrizioneVerbale], [Importo], [DecurtamentoPunti], [IdAnagrafica], [IdViolazione]) VALUES (2, CAST(N'2009-04-22' AS Date), N'Via Libertà 99', N'Agente M. Vella', CAST(N'2009-04-23' AS Date), CAST(450.00 AS Decimal(10, 2)), 6, 3, 4)
INSERT [dbo].[Verbale] ([IdVerbale], [DataViolazione], [IndirizzoViolazione], [Nominativo_Agente], [DataTrascrizioneVerbale], [Importo], [DecurtamentoPunti], [IdAnagrafica], [IdViolazione]) VALUES (3, CAST(N'2009-06-10' AS Date), N'Via Milano 120', N'Agente R. Giordano', CAST(N'2009-06-11' AS Date), CAST(80.00 AS Decimal(10, 2)), 0, 2, 2)
SET IDENTITY_INSERT [dbo].[Verbale] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Anagrafi__063721E1EDFBB807]    Script Date: 2025-11-21 5:47:41 PM ******/
ALTER TABLE [dbo].[Anagrafica] ADD UNIQUE NONCLUSTERED 
(
	[Cod_Fisc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Verbale]  WITH CHECK ADD FOREIGN KEY([IdAnagrafica])
REFERENCES [dbo].[Anagrafica] ([IdAnagrafica])
GO
ALTER TABLE [dbo].[Verbale]  WITH CHECK ADD FOREIGN KEY([IdViolazione])
REFERENCES [dbo].[TipoViolazione] ([IdViolazione])
GO
USE [master]
GO
